<div class="main" fxLayout="column">
  <div fxLayoutAlign="center center" fxLayout="column" fxFlex>
    <div class="main-bg-video">
      <video playsinline autoplay muted loop class="main-bg-video__content">
        <source src="../../assets/coverr-sample-33-5877.mp4" type="video/mp4" />
        Your browser isn't supported!
      </video>
    </div>
    <h1 class="mat-display-4 heading-primary" fxLayoutAlign="center center">
      <span>Dr. Mozhgan Daneshvar</span>
    </h1>

    <div class="main-btn-position" fxLayoutAlign="start center">
      <a
        href="https://www.instagram.com/soccer_podcast/channel/?hl=en"
        class="main-btn main-btn-white"
        >my instagram</a
      >
    </div>
  </div>
</div>
